<html>
<head>
  <style>
    div.a {
      line-height: normal;
    }

    div.b {
      line-height: 1.6;
    }

    div.c {
      line-height: 100%;
    }

    div.d {
      line-height: 200%;
    }
  </style>
  <meta charset="UTF-8"/>
  <title>Template</title>
</head>
<body>
<div class="a">
  <center>
    <img
        src="https://www.fireeye.com/content/dam/fireeye-www/fw/images/fireeye-generic-banner-01.png"
        alt="FireEye Logo" width="620" height="114">
  </center>
</div>

<div class="a">
  <table width="620" border="0" cellspacing="0" cellpadding="20" align="center">
    <tbody>
    <tr>
      <td>
        {{{content}}}
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="a">
  <table width="620" border="0" cellspacing="0" cellpadding="20" align="center">
    <tbody>
    <tr>
      <td>
        <div style="text-align:center;font-family:Calibri;font-size:12px">
          <font color="#64666B">&copy; __CURRENT_YEAR__ FireEye Inc. All rights reserved.</font>
        </div>
        <div style="clear:both; text-align:center;font-family:Calibri;font-size:12px">
          <a href="https://www.fireeye.com/company.html" target="_blank" rel="nofollow">About
            FireEye</a> |
          <a href="https://www.fireeye.com/company.html">Privacy</a> |
          <a href="https://www.fireeye.com/company.html">Terms</a> |
          <a href="https://www.fireeye.com/company.html">Help</a>
        </div>
        <br>

        <div class="c" style="font-family:Calibri;font-size:12px;color:#64666B">
          This email and any attachments thereto may contain private, confidential, and/or
          privileged material for the
          sole use of the intended recipient. Any review, copying, or distribution of this email (or
          any attachments
          thereto) by others is strictly prohibited. If you are not the intended recipient, please
          contact the sender
          immediately and permanently delete the original and any copies of this email and any
          attachments thereto.
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
